<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>23</string>
		<string>24</string>
		<string>25</string>
		<string>26</string>
		<string>27</string>
		<string>28</string>
		<string>29</string>
		<string>30</string>
		<string>31</string>
		<string>32</string>
		<string>33</string>
		<string>34</string>
	</array>
	<key>lat</key>
	<array>
		<string>38.434673</string>
		<string>38.434749</string>
		<string>38.434799</string>
		<string>38.434787</string>
		<string>38.434661</string>
		<string>38.434635</string>
		<string>38.434623</string>
		<string>38.434631</string>
		<string>38.434703</string>
		<string>38.434936</string>
		<string>38.43531</string>
		<string>38.435352</string>
		<string>38.435375</string>
		<string>38.435379</string>
		<string>38.435348</string>
		<string>38.435279</string>
		<string>38.435115</string>
		<string>38.434703</string>
		<string>38.434635</string>
		<string>38.434619</string>
		<string>38.434642</string>
		<string>38.434776</string>
		<string>38.434776</string>
		<string>38.434444</string>
		<string>38.434261</string>
		<string>38.434024</string>
		<string>38.433578</string>
		<string>38.432594</string>
		<string>38.431671</string>
		<string>38.43103</string>
		<string>38.430812</string>
		<string>38.430812</string>
		<string>38.431262</string>
		<string>38.431308</string>
	</array>
	<key>long</key>
	<array>
		<string>-78.862785</string>
		<string>-78.862968</string>
		<string>-78.863243</string>
		<string>-78.863502</string>
		<string>-78.863945</string>
		<string>-78.864097</string>
		<string>-78.864288</string>
		<string>-78.864471</string>
		<string>-78.864799</string>
		<string>-78.865402</string>
		<string>-78.866302</string>
		<string>-78.866447</string>
		<string>-78.8666</string>
		<string>-78.866699</string>
		<string>-78.866958</string>
		<string>-78.867179</string>
		<string>-78.8675</string>
		<string>-78.868743</string>
		<string>-78.869018</string>
		<string>-78.869316</string>
		<string>-78.869651</string>
		<string>-78.870193</string>
		<string>-78.870193</string>
		<string>-78.870361</string>
		<string>-78.870513</string>
		<string>-78.870826</string>
		<string>-78.871612</string>
		<string>-78.873123</string>
		<string>-78.874328</string>
		<string>-78.875587</string>
		<string>-78.876045</string>
		<string>-78.876045</string>
		<string>-78.876281</string>
		<string>-78.876319</string>
	</array>
</dict>
</plist>
